.container-search {
    margin-top: 8rem;
    margin-left: 12rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.search-field {
    width: 40%;
    margin-right: 1rem;
}

.search-btn {
    margin-right: 1rem;
}

.filter {
    color: #840781;
}

.text-3 {
    color: #272727 ;
}
