.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
    width: 90%;
    margin-left: 50px;
    @media (max-width: 768px) {
      max-width: 100%;
    }

  }
  
  .form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 768px) {
      margin-right: 0px;
      margin-left: -5rem;
    }
    
  }
  
  .form-container input {
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    outline: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .form-container select {
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    outline: none;
    background-color: #fff;
    font-weight: bold;
    color:#7d7d7d;
    font-size: medium;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container button {
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: #84007b;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    font-size: 20px;
    text-align: center;
    margin-right: 100px;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    color:#84007b;
  }
  .form-container h1 {
    text-align: left;
    margin-right: 40px;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    color:#84007b;
  }


@media (min-width: 960px) and (max-width: 1100px) {
    .form-container h1{
      font-size: 1.6rem;
  
  }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .form-container h1{
      font-size: 1.8rem;  
  }}
    
@media (min-width: 1201px) and (max-width: 1280px) {
  .form-container h1{
    font-size: 2rem;

}}
@media (min-width: 1281px) and (max-width: 1366px) {
  .form-container h1{
    font-size: 2.2rem;

}
}
@media (min-width: 1366px) and (max-width: 1466px) {
  .form-container h1{
    font-size: 2.2rem;

}
}
@media (min-width: 1466px) and (max-width: 1566px) {
  .form-container h1{
    font-size: 2.3rem;

}
}
@media (min-width: 1566px) and (max-width: 1666px) {
  .form-container h1{
    font-size: 2.4rem;

}
}
@media (min-width: 1666px) and (max-width: 1766px) {
  .form-container h1{
    font-size: 2.6rem;

}
}
@media (min-width: 1766px) and (max-width: 1866px) {
  .form-container h1{
    font-size: 2.6rem;

}
}
@media (min-width: 1866px) and (max-width: 1966px) {
  .form-container h1{
    font-size: 2.8rem;

}
}
@media (min-width: 1966px) and (max-width: 2066px) {
  .form-container h1{
    font-size: 2.9rem;

}
}
@media (min-width: 2066px) and (max-width: 2166px) {
  .form-container h1{
    font-size: 3rem;

}
}
@media (min-width: 2166px) and (max-width: 2266px) {
  .form-container h1{
    font-size: 3.1rem;

}
}