.form-container-grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 80px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
  width: 100%;
  margin: 50px;
  grid-template-columns:400px;
  grid-column-gap: 200px;
  grid-row-gap: 100px;
  margin-top: -100px;
}
  
  .column-1 {
    grid-column: 1;
  }
  
  .column-2 {
    grid-column: 2;
  }
  
  .column-3 {
    grid-column: 3;
  }
  
  .form-container-grid form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    align-items: center;
  }
  
  .form-container-grid input {
    width: 350px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    outline: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container-grid button {
    border: none;
    padding: 10px 20px;
    margin: -40px 0;
    border-radius: 50px;
    background-color: #84007b;
    color: #fff;
    font-weight: bold;
    outline: none;

    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .radio-container {
    display: flex;
    flex-direction: row;
    transform: translate(0rem , -3rem);
  }
  .radio-container label {
    font-size: 14px;
  }
  .radio-container input[type="radio"] {
  width: auto;
  margin-right: 5px;
  transform: translate(0rem , 0.2rem);
  
}
.button-container{
  margin-top: 5rem;
}

