.container-vid{
    @media (max-width: 768px) {
        margin: 0rem !important;
        gap: 0 !important;
        padding: 10px !important;
        margin-left: -15px !important;
        margin-right: 15px !important;
        margin-top: -30px !important;
        
    }


}